.customized-working-plan-root {
    .customized-working-plan-tools {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 35px;

        .customized-working-plan-tool-item {
            margin-right: 10px;
        }
    }

    .customized-working-plan-title {
        margin: 5px 0;
    }

    .customized-working-plan-table {
        margin-bottom: 5px;

        .editable-cell-value-wrap {
            // min-height: 37.6px;
        }

        .oss-ui-table-cell-ellipsis {
            overflow: visible;
        }

        .table-cell-wrap {
            white-space: pre-wrap;
        }

        .table-cell-text-align-left {
            text-align: left;
        }

        tbody tr.oss-ui-table-row {
            height: 70px !important;
        }
    }
}
