.workbench-manage-container {
    display: flex;
    margin-top: 100px;
    div {
        flex: 1;
        height: 400px;
        margin: 20px;
        line-height: 300px;
        text-align: center;
        border: 1px solid #ccc;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            box-shadow: 10px 10px 5px #ccc;
        }
    }
}
