.alarm-supplement-add {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: @component-background;

  .oss-ui-pro-table-alert {
    display: none;
  }

  .oss-ui-table-pagination.oss-ui-pagination {
    margin-bottom: 0;
  }

  .oss-imp-alarm-empty-show {
    display: block !important;
  }

}

.supplement-select-all {
  min-height: 32px;
  padding: 5px 8px;
  font-size: 12px;
  line-height: 22px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center
}