.alarm-stats-item {
    display: inline-flex;
    align-items: center;
    // margin-left: 16px;
}

.alarm-stats-item-icon {
    margin-right: 10px;
    margin-left: 10px;
    transform: translateY(1px);
}

.alarm-stats-item-warning-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 14px;
}

.alarm-stats-item-title {
    margin-left: 10px;
}
