.col-tem-td-div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.col-template-edit-tabPane {
    .synchField {
        position: relative;
        z-index: 10;
        display: flex;
        margin-left: 78%;
    }
    .oss-ui-tabs {
        margin-top: -23px;
    }
}
