.value-by-map-box {
    width: 100%;
    .value-by-map-box-alarm {
        display: flex;
        width: 100%;
        padding: 5px;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        .value-by-map-box-title {
            width: 80px;
            height: 28px;
            margin: 0px 3px 3px 3px;
            line-height: 28px;
            text-align: center;
            border: 1px solid #ccc;
        }
    }
    .value-by-map-box-root-cause {
        display: flex;
        width: 100%;
        padding: 5px;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        .value-by-map-box-title {
            width: 80px;
            height: 28px;
            margin: 0px 3px 3px 3px;
            line-height: 28px;
            text-align: center;
            border: 1px solid #ccc;
        }
    }
}
