.notice-type-checkbox-container {
    margin-top: -2px;
    .notice-type-item-container {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        .notice-type-item-checkbox {
            width: 100px;
        }
        .notice-type-item-text {
            width: 60px;
        }
        .notice-type-item-switch {
            width: 50px;
        }
        .notice-type-item-time-picker {
            width: 200px;
        }
    }
}
