.editor-warpper-divider {
    margin: 10px 0;
}
.editor-wrapper-content {
    display: flex;
    flex-wrap: wrap;
    .editor-wrapper-content-field-input {
        width: 176px;
        // height: 28px;
    }
    .editor-wrapper-content-field-select {
        width: 120px;
    }
}
