.upload-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .upload-file-name-input {
        width: 200px;
    }
    .input-style {
        height: 300px;
    }
}
