.noman-list {
  .oss-ui-table {
    td {
      border: 1px solid #ebf4fc;
    }
  }
  .table-title {
    font-weight: 650;
    font-family: "PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC",
      sans-serif;
    font-style: normal;
  }
  .oss-ui-table-thead > tr > th {
    background-color: none !important;
  }
}
.dot-container {
  position: relative;
  .dot {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    left: 5px;
  }
  .man {
    background-color: #d5859a;
  }
  .dept {
    background-color: #85d5d4;
  }
}
