.duty-management-page{
    width: 100%;
    height: 100%;
    background: url('./images/duty-light.png') no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-content{
        width: 80%;
        display: flex;
        justify-content: space-around;
        
        &-field{
            width: 140px;
            cursor: pointer;
            span{
                padding-left: 7px;
                font-size: 18px;
            }

        }
    }
}
.duty-management-page-drakblue{
    background: url('./images/duty-drakblue.png') no-repeat;
    background-size: 100% 100%;
}