.form-body {
    margin-top: 20px;
    :global {
        .oss-ui-picker {
            width: 100%;
        }
    }
    .oss-ui-form-horizontal .oss-ui-form-item-label {
        min-width: 100px;
    }
}
