**/*.svg
/dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
/build
/public/static/map/*
/src/components/oss-alarm-window/*
