.alarm-manual-clearing-table .oss-ui-table-wrapper {
  padding: 0;
}
.alarm-manual-clearing-textarea {
  margin-top: 16px;
}
.alarm-manual-clearing-tips {
  margin-top: 16px;
  text-align: center;
}
.alarm-manual-clearing-label {
  margin-bottom: 8px;
}
