.association-ticket-modal-footer {
    display: flex;
    justify-content: center;
}

.association-ticket-modal-search {
    margin-bottom: 8px;
}

.association-ticket-table-wrapper {
    margin-bottom: 16px;
    padding: 0;
}

.default-association-ticket-modal {
    .association-ticket-table-wrapper {
        margin-bottom: 0;
    }
    .oss-ui-picker-cell-in-view.oss-ui-picker-cell-range-start:not(.oss-ui-picker-cell-range-start-single)::before {
        background: none;
    }
    // .oss-ui-picker-time-panel-column {
    //     > li.oss-ui-picker-time-panel-cell .oss-ui-picker-time-panel-cell-inner {
    //         color: #fff;
    //         border-radius: 0;

    //         &:hover {
    //             background: #246faa !important;
    //         }
    //     }

    //     > li.oss-ui-picker-time-panel-cell-selected .oss-ui-picker-time-panel-cell-inner {
    //         background: #044083;
    //     }

    //     &:not(:first-child) {
    //         border-left: 1px solid #264f79;
    //     }
    // }
    // .oss-ui-picker-cell-in-view.oss-ui-picker-cell-range-start:not(.oss-ui-picker-cell-range-start-single)::before {
    //     background: none;
    // }
    // .oss-ui-picker-cell-in-view.oss-ui-picker-cell-range-end:not(.oss-ui-picker-cell-range-end-single)::before {
    //     background: none;
    // }

    // .oss-ui-picker-cell:hover:not(.oss-ui-picker-cell-in-view) .oss-ui-picker-cell-inner,
    // .oss-ui-picker-cell:hover:not(.oss-ui-picker-cell-selected):not(.oss-ui-picker-cell-range-start):not(.oss-ui-picker-cell-range-end):not(
    //         .oss-ui-picker-cell-range-hover-start
    //     ):not(.oss-ui-picker-cell-range-hover-end)
    //     .oss-ui-picker-cell-inner {
    //     background: #246faa;
    // }
}
