.fault-scheduling-notification-page {
    height: 100%;

    .oss-ui-space {
        gap: 12px !important;
    }
}

.fault-scheduling-notification-view-modal {
    height: 80vh;

    .oss-ui-modal-content {
        min-height: 100%;

        .oss-ui-modal-body {
            min-height: calc(80vh - 114px);
        }
    }
}
