.profession-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% + 10px);
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 210px;
        height: 45px;
        margin-bottom: 10px;
        padding: 10px 15px;
        border-radius: 8px;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
        &-tag {
            display: flex;
            align-items: center;
            justify-content: center;
            .item-dot {
                width: 14px;
                height: 14px;
                margin-right: 10px;
                border-radius: 50%;
            }
            .item-name {
                max-width: 92px;
                overflow: hidden;
                font-size: 16px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .item-num {
            color: #1890ff;
            font-weight: 700;
            font-size: 16px;
        }
    }
}
