.over-view-page-record {
    width: 100%;
    height: 100%;
    background: url('./img/animat.gif');
    background-repeat: no-repeat;
    // background-position: 100% 100%;
    background-size: 100% 100%;
    position: relative;
    &-page {
        position: absolute;
        right: 97px;
        top: 50%;
        margin-top: -190px;
        &-field {
            width: 302px;
            height: 50px;
            background: url('./img/first.png');
            background-repeat: no-repeat;
            position: relative;
            margin-bottom: 60px;
            &-img {
                position: absolute;
                left: 50px;
                top: -20px;
                width: 38px;
                height: 73px;
                background: url('./img/alarm.png');
                background-position: 100%;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            .img-fly {
                background: url('./img/fly.png');
                background-repeat: no-repeat;
            }
            .img-action {
                background: url('./img/action.png');
                background-repeat: no-repeat;
            }
            .img-sheet {
                background: url('./img/sheet.png');
                background-repeat: no-repeat;
            }
            &-context {
                position: absolute;
                left: 120px;
                top: -40px;
                &-title {
                    font-family: FZLTZHK;
                    font-size: 20px;
                    color: #a8d9ff;
                    font-weight: bold;
                }
                &-num {
                    font-family: FZLTTHJW;
                    font-size: 24px;
                    color: #fff7c0;
                    font-weight: bold;
                }
            }
        }
    }
}
