.condition-vertical-space-wrapper {
    > .oss-ui-space-item:nth-child(2) {
        height: calc(100% - 40px);

        .oss-ui-tree {
            height: 100%;
            .oss-ui-tree-list {
                height: 100%;
                overflow: auto;
            }
        }
    }
}
