.customized-working-plan-root {
    .customized-working-plan-title {
        margin: 5px 0;
    }

    .customized-working-plan-table {
        margin-bottom: 5px;

        .table-cell-wrap {
            white-space: pre-wrap;
        }

        .table-cell-text-align-left {
            text-align: left;
        }
    }
}
