.dispatch {
    .oss-ui-row .oss-ui-form-item {
        margin: 0 0 5px !important;
    }

    &-title {
        margin-bottom: 8px;
    }
    &-content {
        min-width: 853px;
        font-weight: 700;
        .dispatch-annotation {
            color: @disabled-color;
        }
    }
    &-item-display {
        display: inline-flex !important;
        margin-bottom: 0;
    }
    &-item-time {
        display: inline-flex !important;
        // width: 120px;
        margin-bottom: 0;
        font-weight: normal;
    }
    &-item-line {
        display: inline-flex !important;
        width: 19px;
        padding: 0 2px;

        text-align: center;
    }

    &-item-margin {
        // margin-left: 5px !important;
    }
    &-item-font {
        font-weight: normal;
    }
    &-item-width {
        width: 60%;
    }

    &-forwardTime-width {
        width: 250px;
    }
}
