.change-shifts-page-continer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .change-shifts-page-word {
        font-weight: 400;
        font-size: 3vh;
        font-style: normal;
        text-align: center;
    }
}
