.workbench-top-info-tools {
    height: 130px;
    .oss-ui-card-head {
        border-bottom: none;
        .oss-ui-card-head-title {
            // padding-top: 10px;
            // padding-bottom: 10px;
            span {
                line-height: 24px;
            }
        }
    }
    .oss-ui-card-body {
        height: 86px;
        padding: 0;
    }
    .view-component-home-card {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 10px 0 14px;
        font-weight: bold;
        font-size: 14px;
        .management-btn {
            color: rgba(0, 0, 0, 0.25);
            font-size: 12px;
            cursor: pointer;
        }
        .dnd-dropdown {
            display: flex;
            align-items: flex-start;
        }
    }
}
.card-extra {
    .oss-ui-card-head-title {
        padding: 8.5px 0 0 0;
    }
}
