.fault-report-file-down{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  div{
    padding-right: 30px;
    padding-bottom: 10px !important;
    cursor: pointer;
    img {
      margin-top: -3px !important;
      margin-right: 5px;
    }
    &:hover{
      text-decoration: underline;
    }
  }
}