.alarm-query-form-sort-drag-modal {
    width: 80% !important;
    height: 80% !important;
}
.alarm-query-opt-icon {
    display: inline-block;
    position: sticky;
    left: 100%;
}
.alarm-query-add-button {
    width: 100%;
    border: dashed 1px;
    .alarm-query-add-button-icon {
        vertical-align: middle;
    }
}
.alarm-query-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    .alarm-query-container-menu {
        width: 260px;
        margin-right: 10px;
        > .oss-ui-menu {
            overflow-y: auto;
        }
    }
    .alarm-query-container-menu-unicom {
        width: 135px;
        margin-right: 10px;
    }
    .alarm-query-container-menu-window {
        display: none;
    }
    .oss-ui-menu {
        .oss-ui-menu-item {
            .oss-ui-menu-title-content {
                > span {
                    margin-right: 8px;
                }
            }
        }
    }
    .oss-ui-menu.oss-ui-menu-inline-collapsed {
        width: 0px;
    }

    .oss-imp-alarm-collapsed-container {
        width: 10px;

        display: flex;
        align-items: center;
        .oss-imp-alarm-collapsed-btn {
            width: 10px;
            border: none;
        }
    }
    .oss-imp-alarm-collapsed-container-open {
        margin-left: -10px;
    }
    .oss-imp-alarm-collapsed-container-close {
        margin-left: 0px;
    }
    .oss-imp-alarm-protable-search {
        width: calc(100% - 20px);
        flex-grow: 1;
        // flex: 1;
        overflow: auto;
    }
    .alarm-query-toolbar-render-container {
        display: flex;
        align-items: center;
    }
    .alarm-window-operation-bar-inline {
        margin: 5px 0px;
    }
}
.custom-query-menu-item {
    display: flex;
    align-items: center;
    .custom-query-menu-name {
        text-overflow: ellipsis;
        display: inline-block;
        overflow: hidden;
    }
    .oss-ui-menu-title-content {
        display: flex;
        align-items: center;
    }
}
