.filter-show-content {
    padding: 10px;
    height: 100%;

    .filter-condition-show {
        // border: 1px solid #e8e8e8;
        border-radius: 5px;
        padding: 16px;
        height: calc(100% - 254px);
        overflow: auto;

        .oss-ui-space {
            margin-bottom: 16px;
        }

        .ant-tree {
            margin-top: 16px;
        }
    }
}
.share-subscription-form-title-line {
    border-bottom: 1px solid #108ee9;
    margin-bottom: 40px;
}
.preprocess-info-item{
    margin-bottom: 30px;
}
.share-subscription-form-title-line > span {
    color: white;
    font-size: 15px;
    vertical-align: bottom;
    background-color: #108ee9;
    padding: 2px 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}