.fault-rule-table {
    .ellipsis {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.edit-rule-modal {
    .sec-title {
        padding: 4px;
        color: #4990e2;
        border-radius: 4px;
    }
    .text-span {
        position: relative;
        // top: 5px;
    }
    .rule-desc-wrap {
        white-space: normal;
        word-break: break-all;
        line-height: 22px;
    }
    .radio-inline-align {
        display: inline-flex;
        align-items: center;
        .oss-ui-form-item {
            margin-bottom: 0 !important;
        }
        .text-span {
            display: inline-flex;
            align-items: center;
        }
        .oss-ui-radio-group {
            display: inline-flex;
            align-items: center;
        }
        .oss-ui-radio-wrapper {
            display: inline-flex;
            align-items: center;
        }
        .oss-ui-space {
            display: inline-flex !important;
            align-items: center !important;
        }
    }
    .oss-ui-modal-footer {
        text-align: center;
    }
    .ellipsis {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .oss-ui-space-item {
        // display: flex;
    }
    .oss-ui-input-number {
        margin: 0 10px;
    }
    .oss-ui-form-item {
        margin-bottom: 4px;
    }
}
.notice-template-modal {
    .oss-ui-popover {
        width: 160px;
    }
}
