.filter-show-content {
    // padding: 10px;
    height: 100%;

    .filter-condition-line {
        height: 3px;
        width: 100%;
        margin: 8px 0px;
    }

    .oss-ui-card-body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .filter-condition-show {
        border: none;
        border-radius: 5px;
        flex: 1;
        overflow: auto;
        display: flex;
        .oss-ui-space {
            margin-bottom: 16px;
        }

        .ant-tree {
            margin-top: 16px;
        }
    }
    // .oss-ui-descriptions-item-content {
    //     color: #249be4;
    // }
    // .oss-ui-descriptions-item-label {
    //     background-color: rgba(30, 96, 174, 0.5);
    // }
    // .oss-ui-descriptions-bordered .oss-ui-descriptions-view {
    //     border: 1px solid #1e60ae;
    // }
    // .oss-ui-descriptions-bordered .oss-ui-descriptions-row {
    //     border-bottom: 1px solid #1e60ae;
    // }
}
