.fault-report-file-down {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    div {
        padding-right: 30px;
        padding-bottom: 10px !important;
        cursor: pointer;
        img {
            margin-top: -3px !important;
            margin-right: 5px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}
