.real-exec-time-dropdown-wrapper {
    .oss-ui-list > .oss-ui-list-header {
        padding: 0;
    }
    .oss-ui-list > .oss-ui-list-footer {
        padding: 8px !important;
    }
    .oss-ui-picker > .oss-ui-picker-input > input {
        width: 35px;
    }
    .oss-ui-list .oss-ui-spin-container > .oss-ui-list-items > .oss-ui-list-item {
        justify-content: center;
        padding: 3px 0;
        border-bottom: none;
        cursor: pointer;
    }
    .oss-ui-list .oss-ui-spin-container > .oss-ui-list-items > .oss-ui-list-item:hover {
        background-color: #f5f5f5;
    }
    .room-inspection-button {
        width: 37px;
        height: 20px;
        padding: 0 5px;
        line-height: 18px;
    }
    .dropdownTrigger {
        width: 100%;
        line-height: 20px;
    }
    .real-exec-time-dropdown-content {
        .room-inspection-quick-select {
            padding-left: 10px;
            color: #fff;
            text-align: left;
            background-color: #0192e2;
        }
        .room-inspection-space {
            margin-left: -5px;
        }
    }
}
