.pre-message {
    display: flex;
}
.label {
    display: flex;
    align-items: center;
    max-width: 30%;
    padding: 6px 16px;
    white-space: nowrap;
    white-space: pre-wrap;
    border: 1px solid #f0f0f0;
}

.content {
    flex: auto;
    padding: 6px 16px;
    white-space: pre-wrap;
    border: 1px solid #f0f0f0;
    border-left: none;
}
