.maintain-team-mode-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .oss-ui-form-item {
        margin: 0px;
    }
    .oss-ui-pro-table-search {
        padding: 10px;
    }
}
.add-svg {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
}
