.shcedule-transfer-container {
    .oss-ui-input-wrapper {
        padding: 8px;
    }
    .oss-ui-transfer-list-header {
        display: none;
    }
    .oss-ui-transfer-list:nth-child(1) {
        .oss-ui-transfer-list-body-search-wrapper {
            display: none;
        }
    }
    .oss-ui-transfer-list-content {
        max-height: 333px;
    }
}
