.service-fault-management-modalWrap {
    position: absolute !important;

    .service-fault-management-list {
        display: block;
        text-align: center;
        .service-fault-management-item {
            font-size: 20px;
            cursor: pointer;
        }
        &.active {
            background-color: rgba(129, 211, 248, 0.26);
        }
    }
}
