.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
    font-size: 16px;
}

.title-left-wrapper {
    display: flex;
    align-items: center;
}
