@import './style.less';
.oss-imp-alarm {
    // position: absolute;
    // left: 0;
    // top: 0;
    width: 100%;
    height: 100%;
}
.oss-imp {
    height: 100%;
    .alarm-sider {
        // height: 100%;
        overflow: auto;
    }

    .alarm-content {
        position: relative;
        height: 100%;
        overflow: auto;
        // padding: 16px;
        // background-color: #1f497a;
        // color: #fff;
    }
}
