.auto-sheet-rule-right-table {
    .right-table-choose {
        position: absolute;
        top: 7px;
        left: 22px;
    }
    .oss-ui-transfer-list {
        position: relative;
        &:last-child {
            .oss-ui-transfer-list-header {
                .anticon {
                    pointer-events: none;
                }
                .oss-ui-transfer-list-header-selected {
                    display: none;
                }
            }
        }
    }
}