.fault-report-page {
    width: 100%;
    overflow: hidden;
    .first-newspaper {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: #d2001e;
    }
}
// .fault-report-message-success-a {
//     .oss-ui-message-notice-content {
//         .oss-ui-message-custom-content {
//             position: relative;
//             display: flex;
//             .fault-report-modal-success {
//                 width: 325px;
//                 height: 28px;
//                 text-align: left;
//                 .fault-report-modal-success-link {
//                     position: absolute;
//                     right: 0;
//                     bottom: 0;
//                     color: #58afff;
//                     cursor: pointer;
//                 }
//             }
//         }
//     }
// }
