.head-box {
    header {
        color: #333333;
        font-weight: 700;
        font-size: 14px;
        font-family: 微软雅黑;
        line-height: 18px;
        border-left: 4px solid black;
        padding-left: 9px;
        margin-bottom: 10px;
    }
    .head-content{
      padding: 0 20px;
    }
}
