.fault-report-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 20px;
        height: 30px;
        margin-right: 10px;
        flex-shrink: 0;
    }
    .first-img{
        width: 24px;
        height: 24px;
    }
    .again-img{
        width: 25px;
        height: 30px;
        margin-top: -5px;
    }
    .end-img{
        width: 20px;
        height: 22px;
    }
    div {
        padding-right: 30px;
        font-family: 'PingFangSC-Regular', 'PingFang SC', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: @text-color;
        flex-shrink: 0;
    }
}
