.editable-proTabl-div-type-management {
    height: 100%;
    .oss-ui-pro-table {
        height: 100%;
    }
    .oss-ui-card-body {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .oss-ui-table-wrapper {
        overflow: hidden;
        flex: 1;
    }
    .oss-ui-spin-nested-loading {
        height: 100%;
    }
    .oss-ui-spin-container {
        height: 100%;
    }
    .oss-ui-table-fixed-header {
        height: 100%;
    }
    .oss-ui-table-container {
        height: 100%;
    }
}
