.upload-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .upload-label {
        // width: 120px;
    }
    .upload-file-name-input {
        width: 200px;
    }
}
.upload-response-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    padding-left: 60px;
    .upload-response-num {
        color: red;
    }
}
.warning-Info-container {
    width: 100%;
    color: red;
    text-align: center;
}
