.fault-dispathched-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    .alarm-window .alarm-window-operation-bar {
        display: none;
    }
    .oss-ui-space-align-center {
        display: none;
    }
    .oss-ui-card-head {
        display: none;
    }
    .fault-dispathched-page-title {
        padding: 8px;
        font-size: 16px;
    }
    .fault-dispathched-page-window {
        flex: 1;
    }
    // .oss-ui-card-head-title{
    //     display: none;
    //     .alarm-flow-window-card-header-fold-icon{
    //         display: none;
    //     }
    // }
}
