.alarm-window-page-container {
    .alarm-window-grid-layout {
        .react-grid-item {
            .oss-ui-card {
                height: 100%;
                .oss-ui-card-head {
                    height: 30px;
                    min-height: 30px;
                    line-height: 30px;
                    padding: 0 12px;
                    .oss-ui-card-head-wrapper {
                        .oss-ui-card-head-title {
                            padding: 0;
                            font-weight: 600;
                        }
                        .oss-ui-card-extra {
                            padding: 0;
                        }
                    }
                }
                .oss-ui-card-body {
                    height: calc(100% - 30px);
                    overflow: auto;
                    padding: 8px;
                    .oss-ui-collapse {
                        height: 100%;
                        .oss-ui-collapse-item {
                            .oss-ui-collapse-header {
                                padding: 8px 16px 8px 40px;
                            }
                            .oss-ui-collapse-content {
                                border-top: none;
                                .oss-ui-collapse-content-box {
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
