.dochange-shifts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110px;

    .remaining-time {
        margin-top: 5px;
        color: rgb(153, 153, 153);
        font-size: 12px;
        line-height: 12px;
        text-align: center;
    }
}
