.maintain-job-list {
    height: 40px;
    margin: 0;
    font-weight: bolder;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;

    &.active {
        background-color: rgba(129, 211, 248, 0.26);
    }
}
