@import '~oss-ui/es/style/themes/default.less';
.alarm-search-window {
    height: 100%;

    .oss-ui-pro-table {
        height: 100%;
        display: flex;
        flex-direction: column;
        .oss-ui-table-row-expand-icon {
            z-index: 1;
        }
    }
    .search-alarm-window-container {
        overflow: auto;
        flex-grow: 1;
        margin-bottom: 10px;
        background-color: @component-background;
    }
    .react-resizable-handle.active::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        border-left: solid 1px black;
    }

    .alarm-window-alarm-text {
        .oss-ui-descriptions-item-label {
            width: 158px;
        }
    }

    .alarm-window-operation-bar-right {
        display: flex;
        align-items: inherit;
    }
}
