.filter-modal-content-form {
    height: 300px;
    padding: 0 16px;
    border: 1px solid #d9d9d9;
}

.column-header-wrapper {
    display: flex;
    justify-content: space-around;
}

.column-name {
    width: 180px;
    line-height: 60px;
    text-align: center;
}

.column-operator {
    width: 100px;
    line-height: 60px;
    text-align: center;
}

.column-value {
    width: 240px;
    line-height: 60px;
    text-align: center;
}
