.tooltip-render {
    color: #fff;
    .oss-ui-tooltip-inner {
        .oss-ui-typography {
            color: unset;
        }
    }
}
.children-block {
    .oss-ui-pro-table {
        .oss-ui-table-container {
            .table-row-explain {
                > td {
                    background: rgb(229, 242, 255);
                }
                // background-image: linear-gradient(270deg, rgb(248, 252, 255), rgb(209, 232, 255));
                border-left: 2px solid rgb(24, 144, 255);
                // &.oss-ui-table-row-selected {
                //     // background-color: unset;
                //     background: rgb(229, 242, 255);
                //     // .oss-ui-table-cell {
                //     //     background-color: unset;
                //     // }
                //     .oss-ui-table-cell-fix-right {
                //         background-color: #fff;
                //     }
                // }
                .oss-ui-table-cell-row-hover {
                    background: rgb(229, 242, 255);
                    // &.oss-ui-table-cell-fix-right,
                    // &.oss-ui-table-cell-fix-left {
                    //     background-color: #fff;
                    // }
                    // background-color: unset;
                }

                .oss-ui-table-cell-fix-left,
                .oss-ui-table-cell-fix-right {
                    background: rgb(229, 242, 255);
                }
            }
        }
    }
}

// .supplement-order-table {
//     > .oss-ui-card > .oss-ui-card-body {
//         padding: 0;
//         > .oss-ui-pro-table-list-toolbar {
//             padding: '0 8px';
//         }
//     }
// }
