.user-group-select-modal .oss-ui-modal-body {
    height: calc(100vh - 214px);

    .oss-ui-pro-table-alert {
        display: none;
    }

    .oss-ui-tabs,
    .oss-ui-tabs-content {
        height: 100%;
    }

    .message-user-modal-right {
        display: flex;
        flex: 1;
        flex-direction: column;

        .tag-groups {
            flex: 1;
            margin: 0 10px;
            padding: 10px;
            overflow: auto;
            border: 1px solid @border-color-base;

            .oss-ui-tag {
                margin-bottom: 10px;
            }
        }
    }
}
.notice-setting-container {
    .oss-ui-btn-background-ghost {
        background: none !important;
    }
}
.notice-template-modal,
.frame-notice-template-modal {
    .oss-ui-popover {
        width: 160px;
    }
}
