
.drawer-box{
  text-align: center;
  .drawer-outside-button{
    position: absolute;
    bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    height: 35px;
  }
}

.drawer-button{
  background: transparent;
  text-align: left;
  .drawer-inner-button{
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    height: 30px;
    width: 60px;
    border-bottom: none;
  }
  .oss-ui-drawer-title{
    text-align: center;
  }
  .oss-ui-drawer-header{
    background: transparent;
    padding-bottom: 0;
    border-bottom: none;
  }
  .oss-ui-drawer-content-wrapper{
    background: transparent;
    box-shadow: none !important;
  }
  .oss-ui-drawer-content{
    background: transparent;
  }
  .oss-ui-drawer-body{
    background: white;
    box-shadow: 0 -6px 16px -8px rgba(0, 0, 0, 0.08), 0 -9px 28px 0 rgba(0, 0, 0, 0.05), 0 -12px 48px 16px rgba(0, 0, 0, 0.03);
  }
}