.oss-ui-modal-wrap {
    .views-monitor-setting-modal {
        .oss-ui-modal-content {
            & > .oss-ui-modal-body {
                position: relative;
                max-height: 730px;
                padding: 26px 30px 36px 30px;
                // padding: 30px;
                // max-height: 940px;
                overflow-y: auto;

                .oss-ui-form > .oss-ui-row {
                    margin: 0 0 0 10px;
                }
            }
        }
    }

    .monitor-setting-edit-group-info-modal {
        .oss-ui-modal-content {
            & > .oss-ui-modal-body {
                // height: calc(100vh - 340px - 44.8px);
                height: 626px;
                min-height: 580px;
                overflow-y: auto;
                .oss-ui-form > .oss-ui-row {
                    padding: 0 20px 0 0;
                }
            }

            // .oss-ui-modal-title {
            //     font-size: 16px;
            // }
        }
    }
}
