.alarm-interrupt-monitor-content {
    height: 100%;
    .status-content {
        display: flex;
        justify-content: center;
        .normal-status {
            height: 20px;
            width: 20px;
            border-radius: 10px;
            background-color: green;
        }

        .abnormal-status {
            height: 20px;
            width: 20px;
            border-radius: 10px;
            background-color: red;
        }
    }
}
