.monitor-view-manager-content {
  height: 100%;
  .oss-ui-pro-table-list-toolbar {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .monitor-view-table {
    height: 100%;
    max-height: calc(100% - 40px)
  }
}
