.not-schedule {
    color: #c8c8c8;
    font-weight: 400;
    font-size: 14px;
    font-family: 'PingFangSC-Regular', 'PingFang SC', sans-serif, 'PingFangSC-Regular', 'PingFang SC', sans-serif-400;
}
