.alarm-sms-distribution-message {
  display: flex;
  justify-content: space-between;
  line-height: 26px;
}
.alarm-sms-distribution-user-select {
  margin-top: 16px;
}
.alarm-sms-distribution-user-select .oss-ui-table-body {
  min-height: 150px;
}
.alarm-sms-distribution-user-tag {
  margin-top: 16px;
}
.alarm-sms-distribution-user-tag .alarm-sms-distribution-user-tag-dom {
  margin-top: 8px;
}
.alarm-sms-distribution-user-input .alarm-sms-distribution-user-input-dom {
  margin-top: 8px;
}
.alarm-sms-distribution-user-input .oss-ui-form-item-control-input {
  min-height: 0;
}
