.my-window {
    // background:@component-background;
    // background:@component-background;
    width: 100%;
    border-radius: 10px;
    .my-window-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 1vh;
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // width: calc(50% - 0.2vw);
            // height: calc(50% - 0.4vw);
            // margin-top: 10px;
            border-radius: 3px;
            cursor: pointer;
            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4vw;
                height: 4vw;
                font-size: 2vw;
                border-radius: 10px;
                cursor: pointer;
                .anticon {
                    color: #fff;
                }
            }
            .label {
                // margin-top: -2vh;
                margin-top: -24px;
                font-size: 1vh;
            }
        }
    }
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 1vh;
    }
}
.bg-blue1 {
    background: rgba(150, 147, 255, 0.33);
}
.bg-green1 {
    background: rgba(255, 218, 130, 0.5);
}
.bg-green2 {
    background: rgba(99, 222, 160, 0.38);
}
.bg-red1 {
    background: rgba(255, 153, 119, 0.38);
}
.bg-green3 {
    background: rgba(37, 177, 107, 0.38);
}
.bg-blue2 {
    background: rgba(0, 153, 256, 0.1);
}
.bg-purple {
    background: #9693ff;
}
.bg-yellow {
    background: #fcb001;
}
.bg-green5 {
    background: #25b16b;
}
.bg-red2 {
    background: #ff9977;
}
.bg-1 {
    background-color: rgba(249, 242, 224, 1);
}
.bg-2 {
    background-color: rgba(250, 225, 221, 1);
}
.bg-3 {
    background-color: rgba(221, 236, 233, 1);
}
.bg-4 {
    background-color: rgba(252, 236, 223, 1);
}
.bg-5 {
    background-color: rgba(250, 225, 221, 1);
}
.bg-6 {
    background-color: rgba(249, 242, 224, 1);
}
.bg-7 {
    background-color: rgba(221, 236, 233, 1);
}
.bg-8 {
    background-color: rgba(252, 236, 223, 1);
}
.bg-9 {
    background-color: #08c5df;
}
.bg-10 {
    background-color: #1585c3;
}
.bg-11 {
    background-color: #28ddbc;
}
.bg-12 {
    background-color: #f99117;
}
