.shift-modal {
    .oss-ui-modal-content {
        resize: none !important;
    }
    .oss-ui-form-item {
        height: 85px;
        margin-bottom: 0;
    }
    .oss-ui-form-item-label {
        label {
            color: #0081ff;
            font-weight: 400;
            font-size: 14px;
            font-family: 微软雅黑;
            line-height: 14px;
        }
    }

    .oss-ui-input {
        height: 40px;
    }

    .oss-ui-select-selector {
        height: 40px !important;
    }

    .oss-ui-select-selection-item {
        line-height: 40px !important;
    }

    .oss-ui-input-affix-wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }

    &-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .shift-form {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .shift-modal-footer {
        button {
            width: 62px;
            height: 32px;
            font-weight: 400;
            font-size: 14px;
            font-family: 微软雅黑;
        }
    }

    .no-edit {
        pointer-events: none;
      }
}
