.common-title-prefix-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #1d92ff;
    border-radius: 50%;
}

.common-title-prefix-rect {
    display: inline-block;
    width: 3px;
    height: 16px;
    background-color: #1d92ff;
}

.common-title-prefix-arrow {
    &::after {
        display: inline-block;
        color: #1d92ff;
        content: '>';
    }
}
