.cs-room-inspection--local {
    .oss-ui-table-tbody > .oss-ui-table-row > .oss-ui-table-cell-row-hover {
        background: none !important;
    }
    .oss-ui-form .oss-ui-form-item {
        margin-bottom: 0;
    }
    .room-inspection-save-img {
        width: 16px;
        cursor: pointer;
    }
    .save-btn-wrapper > .oss-ui-btn {
        background: none;
    }
}
