.statistics-card-container {
    position: absolute;
    height: 86px;
    padding: 6px 15px 6px 15px;
    background: linear-gradient(#08427a, #072644);
    border: 1px solid #14aee2;
    border-radius: 10px;
    .statistics-card-title {
        color: #fff;
        font-size: 14px;
    }
    .statistics-card-content {
        margin-top: 3px;
        margin-left: 11px;
        color: rgb(147, 217, 255);
        font-size: 14px;
        line-height: 20px;
    }
}
