.managament-work-records-continer {
    width: 100%;
    height: calc(100% - 36px);
    overflow: auto;
    .oss-ui-timeline-item {
        top: 18px;
        right: 42%;
        .oss-ui-timeline-item-label {
            right: 51%;
            width: 10%;
            font-weight: 500;
            font-size: 14px;
            font-style: normal;
        }
        .record-time {
            color: #3eaeff;
            font-weight: 500;
            font-size: 14px;
            font-style: normal;
        }
        .record-content {
            font-weight: 400;
            font-size: 12px;
            font-style: normal;
        }
        .oss-ui-timeline-item-content {
            width: calc(90% - 14px) !important;
        }
        .record-svg {
            color: #c9d0db;
            fontsize: 16px;
        }
        .record-svg:hover {
            color: #3eaeff;
        }
        .record-svg-save {
            margin: 0px 10px -2px 10px;
        }
        .record-svg-save {
            g {
                path {
                    fill: #3eaeff;
                }
            }
        }
    }
}
