.alarm-acknowledgement-table .oss-ui-table-wrapper {
  padding: 0;
}
.alarm-acknowledgement-textarea {
  margin-top: 16px;
}
.alarm-acknowledgement-tips {
  margin-top: 16px;
  text-align: center;
}
.alarm-acknowledgement-label {
  margin-bottom: 8px;
}
