@import '~oss-ui/es/style/themes/default.less';
@layout-grid-content-prefix-cls: ~'@{ant-prefix}-grid-content';

.@{layout-grid-content-prefix-cls} {
    width: 100%;
    height: 100%;
    overflow: hidden;
    &.wide {
        max-width: 1200px;
        margin: 0 auto;
    }

    .@{ant-prefix}-grid-content-children{
        height: 100%;
    }
}
