.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0081ff;
    font-weight: 650;
    font-size: 16px;

    .title-left {
        display: flex;
        align-items: center;
        vertical-align: middle;
    }
}
