@import '~oss-ui/es/style/themes/default.less';
.edit-message-model {
    margin-top: 100px;
}
.left-list-container-table:hover {
    cursor: pointer;
}
.left-list-container-table {
    .rowActive {
        background-color: @alarm-flow-window-collapse-header-show-color;
    }
}

.middle-sheet {
    .oss-ui-col.oss-ui-col-17 {
        border: 1px solid @border-color-split !important;
        height: 52vh;
    }
}
.sheet-left {
    .oss-ui-col.oss-ui-col-6 {
        border: 1px solid @border-color-split !important;
    }
}

.left-list-container-search {
    margin: 5px 0px 5px 10px;
}
.color-item {
    color: @alarm-flow-window-collapse-header-show-color;
    font-weight: normal;
}
.temp_look {
    .oss-ui-input[disabled] {
        color: @text-color !important;
    }
}

.temp_content {
    .oss-ui-input {
        width: 28vw;
    }
}
