.fault-report-detail-header-title {
    position: relative;
    padding-left: 20px;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: #1d92ff;
        content: ' ';
    }
}

.fault-report-detail {
    height: 100%;
    padding-bottom: 90px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: @component-background;
    &-button-list {
        // margin-bottom: 10px;
        button {
            margin-right: 10px;
        }
    }
    .fault-report-detail-tag-box {
        display: inline-block;
        min-width: 60px;
        height: 24px;
        margin-right: 5px;
        padding: 0 8px;
        color: rgba(0, 0, 0, 0.85);
        text-align: center;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }
    .life-cycle-container {
        position: relative;
        width: 100%;
        .fault-arrow-left {
            position: absolute;
            top: 30px;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 66px;
            // background-color: #15579a;
            cursor: pointer;
            user-select: none;
            > img {
                transform: rotate(180deg);
            }
        }
        .fault-arrow-right {
            position: absolute;
            top: 30px;
            right: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 66px;
            // background-color: #15579a;
            cursor: pointer;
            user-select: none;
        }
        .fault-life-cycle-box {
            display: flex;
            width: 100%;
            height: 180px;
            padding: 30px 0;
            overflow: auto;

            .life-cycle-arrow {
                position: relative;
                width: 240px;
                height: 66px;
                cursor: pointer;
                &:first-child {
                    width: 214px;
                }
                .arrow-info {
                    position: absolute;
                    top: 50%;
                    left: 53%;
                    width: 75%;
                    height: 70%;
                    transform: translate(-50%, -50%);
                    &:hover {
                        .arrow-title {
                            color: rgb(255, 255, 255);
                            font-size: 16px;
                        }
                        .arrow-content {
                            width: 180px;
                            .arrow-time {
                                color: #fff;
                            }
                            .arrow-name {
                                color: #fff;
                            }
                        }
                    }
                    .arrow-title {
                        // color: rgb(255, 255, 255);
                        font-size: 16px;
                    }
                    .arrow-content {
                        display: flex;
                        .arrow-name {
                            margin-right: 10px;
                            white-space: nowrap; /* 不换行 */
                        }
                    }
                }
            }
        }
    }
    .oss-ui-image-preview-operations {
        top: 100px;
        margin-right: 20px;
        background-color: transparent;
    }
    .oss-ui-image-preview-operations-operation:not(:first-child) {
        display: none;
    }
}
.fault-notice-detail-modal {
    .oss-ui-modal-header {
        background-color: #488fe1;
    }
    .oss-ui-modal-body {
        background-color: #fff;
    }
}
.fault-notice-detail-container {
    .fault-notice-detail-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 500px;

        &-item {
            display: flex;
            width: 100%;
            height: 30px;
            .item-title {
                flex: 1;
                text-align: center;
            }
            .item-name {
                flex: 2;
                color: #74a4d9;
            }

            .item-result {
                flex: 1;
            }
        }
    }
    .fault-notice-detail-footer {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
.fault-report-detail-back {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 87px;
    line-height: 87px;
    text-align: center;
    background-color: @component-background;
    box-shadow: 0px -5px 10px @layout-footer-background;
}
.fault-cancel-info-row1,
.fault-cancel-info-row2,
.fault-cancel-info-row3,
.fault-cancel-info-row4 {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    .fault-input-container {
        width: calc(100% - 100px);
    }
}
.fault-cancel-tip {
    width: 100%;
    padding-left: 30px;
    color: #a9afb6;
    font-size: 14px;
}

.fault-cancel-info-title {
    width: 100px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: end;
    &::before {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        background-color: #4990e2;
        border-radius: 50%;
        content: '';
    }
}
