.previous-duty-summary-header-title {
    position: relative;
    padding-left: 20px;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: #1d92ff;
        content: ' ';
    }
    .previous-duty-summary-header-table {
        .oss-ui-table-tbody > tr.oss-ui-table-row:hover > td {
            background-color: transparent;
        }
    }
}
