.fault-user-table {
    .ellipsis {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
.edit-user-modal {
    .sec-title {
        padding: 4px;
        color: #4990e2;
        border-radius: 4px;
    }
    .text-span {
        position: relative;
        top: 5px;
    }
    .oss-ui-modal-footer {
        text-align: center;
    }
}