.left-tabs {
    .tab-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-left: 20px;
        .tab-content {
            // flex: 1;
            width: calc(88% - 0.2vw);
            margin-bottom: 20px;
            border-radius: 10px;
            cursor: pointer;

            .title {
                height: 50px;
                color: #0099ff;
                font-weight: 700;
                font-size: 16px;
                line-height: 60px;
                text-align: center;
                background-color: rgba(235, 244, 252, 1);
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .title-drakblue {
                background-color: rgb(30, 77, 112);
            }
            .sub-title {
                height: 86px;
                font-weight: 700;
                font-size: 16px;
                line-height: 86px;
                text-align: center;
                //border: 1px solid #78c9fe;
                background-color: #ebf4fc;
                .sub-title-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 38%;
                }
                .svg2 {
                    svg {
                        width: 55px;
                        height: 55px;
                        margin-top: 13px;
                        margin-left: 23px;
                    }
                }
                svg {
                    width: 48px;
                    height: 48px;
                    margin-top: 20px;
                    margin-left: 30px;
                    color: #b5defb;
                }
                .right-content {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    width: 62%;
                    height: 86px;
                    line-height: 43px;
                }
                .right-content-first {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    justify-content: center;
                    width: 62%;
                    height: 90%;
                }
                .title-label {
                    flex: 1;
                    margin-top: -28px;
                    font-weight: 500;
                    font-size: 14px;
                }
                .title-int {
                    margin-left: 10px;
                    font-weight: 500;
                    font-size: 12px;
                }
                .title-num {
                    flex: 1;
                    margin-top: 8px;
                    margin-right: 10px;
                    color: #0099ff;
                    font-size: 16px;
                }
            }
            .radius {
                display: flex;
                border-radius: 10px;
            }
            .content {
                display: inline-block;
                width: 100%;
                height: 122px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                ul {
                    width: 100%;
                    margin-bottom: 0px;
                    margin-left: 0px;
                    overflow: hidden;
                    background: none;
                }
                .content-item {
                    float: left;
                    width: 50%;
                    height: 60px;
                    list-style: none;
                    .items {
                        position: relative;
                        line-height: 59px;
                        text-align: center;
                        border: 1px solid rgb(12, 77, 122);
                    }
                    .items-drakblue {
                        border: 1px solid #78c9fe;
                    }
                    .icon-dot {
                        position: absolute;
                        top: 50%;
                        left: 10%;
                        width: 20px;
                        height: 20px;
                        margin-top: -10px;
                        border-radius: 50%;
                    }
                    .red {
                        background-color: red;
                    }
                    .orange {
                        background-color: orange;
                    }
                    .yellow {
                        background-color: yellow;
                    }
                    .blue {
                        background-color: #54b3ff;
                    }
                }
            }
        }

        .tab-content-drakblue {
            // flex: 1;
            width: calc(88% - 0.2vw);
            margin-bottom: 20px;
            border-radius: 10px;
            cursor: pointer;

            .sub-title {
                height: 86px;
                font-weight: 700;
                font-size: 16px;
                line-height: 86px;
                text-align: center;
                //border: 1px solid #78c9fe;
                background-color: #174d8c;
                .sub-title-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 38%;
                }
                .svg2 {
                    svg {
                        width: 55px;
                        height: 55px;
                        margin-top: 13px;
                        margin-left: 23px;
                    }
                }
                svg {
                    width: 48px;
                    height: 48px;
                    margin-top: 20px;
                    margin-left: 30px;
                    color: #b5defb;
                }
                .right-content {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    width: 62%;
                    height: 86px;
                    line-height: 43px;
                }
                .right-content-first {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    justify-content: center;
                    width: 62%;
                    height: 90%;
                }
                .title-label {
                    flex: 1;
                    margin-top: -28px;
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 14px;
                }
                .title-int {
                    margin-left: 10px;
                    font-weight: 500;
                    font-size: 12px;
                }
                .title-num {
                    flex: 1;
                    margin-top: 8px;
                    margin-right: 10px;
                    color: #27a4ff;
                    font-size: 16px;
                }
            }
            .radius {
                display: flex;
                border-radius: 10px;
            }
            .content {
                display: inline-block;
                width: 100%;
                height: 122px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                ul {
                    width: 100%;
                    margin-bottom: 0px;
                    margin-left: 0px;
                    overflow: hidden;
                    background: none;
                }
                .content-item {
                    float: left;
                    width: 50%;
                    height: 60px;
                    list-style: none;
                    .items {
                        position: relative;
                        line-height: 59px;
                        text-align: center;
                        border: 1px solid rgb(12, 77, 122);
                    }
                    .items-drakblue {
                        border: 1px solid #78c9fe;
                    }
                    .icon-dot {
                        position: absolute;
                        top: 50%;
                        left: 10%;
                        width: 20px;
                        height: 20px;
                        margin-top: -10px;
                        border-radius: 50%;
                    }
                    .red {
                        background-color: red;
                    }
                    .orange {
                        background-color: orange;
                    }
                    .yellow {
                        background-color: yellow;
                    }
                    .blue {
                        background-color: #54b3ff;
                    }
                }
            }
        }

        .content-article-container {
            margin-bottom: 10px;
            .content-article-tab {
                display: flex;
                flex-direction: column;
                height: 25%;
                .content-article {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: calc(80% - 0.2vw);
                    height: 100%;
                    margin: 0 0 6px 10px;
                    cursor: pointer;
                    .icon-dot {
                        width: 22px;
                        height: 20px;
                        border-radius: 100%;
                    }
                    .red {
                        background-color: red;
                    }
                    .orange {
                        background-color: orange;
                    }
                    .yellow {
                        background-color: #ffe014;
                    }
                    .blue {
                        background-color: #54b3ff;
                    }
                    .container-content {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        height: 100%;
                        margin-left: 10px;

                        .container-content-title {
                            margin-left: 10px;
                            font-size: 1vw;
                        }
                        .container-content-num {
                            margin-right: 10px;
                            font-size: 1.2vw;
                        }
                    }
                    .background-red {
                        background-color: rgba(255, 248, 244, 1);
                    }
                    .background-orange {
                        background-color: rgba(255, 248, 234, 1);
                    }
                    .background-yellow {
                        background-color: rgba(255, 254, 244, 1);
                    }
                    .background-blue {
                        background-color: rgba(239, 250, 255, 1);
                    }
                    .background-red-drak {
                        background-color: rgba(234, 81, 81, 0.20392156862745098);
                    }
                    .background-orange-drak {
                        background-color: rgba(255, 172, 32, 0.20392156862745098);
                    }
                    .background-yellow-drak {
                        background-color: rgba(247, 248, 87, 0.19607843137254902);
                    }
                    .background-blue-drak {
                        background-color: rgba(0, 181, 255, 0.20392156862745098);
                    }
                    .color-red {
                        color: red;
                    }
                    .color-orange {
                        color: orange;
                    }
                    .color-yellow {
                        color: #ffe014;
                    }
                    .color-blue {
                        color: #54b3ff;
                    }
                }
            }
        }
        .first {
            height: 172px;
            border: 1px solid #78c9fe;
            border-radius: 10px;
        }
    }
    .checked {
        background-color: rgba(226, 247, 253, 0.2);
        //border: 1px solid #0094ff;
        box-shadow: 2px 2px 2px rgba(84, 84, 84, 0.12);
    }
    .item1 {
        .items {
            border-right: none !important;
            border-left: none !important;
        }
    }
    .item2 {
        .items {
            border-right: none !important;
        }
    }
    .item3 {
        .items {
            border: none !important;

            // border-bottom-left-radius: 10px;
        }
    }
    .item4 {
        .items {
            border-top: none !important;
            border-right: none !important;
            border-bottom: none !important;
            // border-bottom-right-radius: 10px;
        }
    }
}
