@import '~oss-ui/es/style/themes/default.less';
.imp-alarm-export-alaquery-2021-0710 {
    font-size: 14px;
}
.imp-alarm-export-alaquery-2021-0710-darkblue {
    color: #00c3ff !important;
}
.imp-alarm-export-alaquery-2021-0710-dark {
    color: #00d0ff !important;
}
.alarm-query-export-alaquery-setting-modal {
    width: 600px !important;
    .alarm-query-export-alaquery-form {
        align-items: center;
        justify-content: space-around;
        border: solid 1px @border-color-base;
        border-radius: 6px;
        padding: 10px;
        .alaquery-export-limits-20210713 {
            display: inline-flex;
            // width: 50%;
        }
        // .alaquery-export-select-20210713 {
        //     display: inline-flex;
        //     width: 40%;
        // }
        .alarm-query-export-radio-group {
            display: flex;
        }
    }
    .alarm-query-export-alaquery-table {
        .alarm-query-export-alaquery-table-title {
            font-size: medium;
            font-weight: 600;
        }
        .alarm-query-export-alaquery-table-th {
            text-align: center;
        }
    }
}
