.open-professional-list {
    margin-top: 10%;
    font-size: 22px;
}

.maintenance-quick-query-mode-wrapper {
    margin-top: 10px;
}

.maintenance-quick-query-mode-select {
    width: 100%;
    padding: 10px;
    .oss-ui-radio-button-wrapper {
        margin: 4px 0 0 8px;
        border-left: 1px solid #d9d9d9;
        border-radius: 10px !important;
        &:not(:first-child):before {
            width: 0;
        }
    }
    .oss-ui-radio-button-wrapper:first-child {
        border-radius: 10px !important;
    }
    .oss-ui-radio-button-wrapper:last-child {
        border-radius: 10px !important;
    }
    .oss-ui-form-item {
        margin-bottom: 0px;
    }
    .oss-ui-form-item-label > label {
        padding-left: 10px;
    }
}
.mainper-tab-ellipsis {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
//无数据提示
.oss-imp-alarm-protable-empty-show {
    .oss-imp-alarm-empty {
        p.oss-imp-alarm-empty-show {
            display: block !important;
        }
    }
}
