.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin-top: 20px;
    :global {
        .oss-ui-picker {
            width: 100%;
        }
        .oss-ui-form-horizontal .oss-ui-form-item-label {
            min-width: 100px;
        }
    }
}
