.unicom-phonation-contain {
    .raido-contain {
        margin-bottom: 8px;
        .oss-ui-radio-button-wrapper:not(:first-child)::before {
            display: none !important;
        }
        .oss-ui-radio-group {
            display: flex !important;
            justify-content: space-between;
            width: 500px;
            .oss-ui-radio-button-wrapper {
                color: #40a9ff;
                border: 1px solid #40a9ff;
                border-radius: 100px !important;
            }
            .oss-ui-radio-button-wrapper-checked {
                color: #fff;
                background-color: #40a9ff;
            }
        }
    }
    .sound-file {
        width: 120px;
        margin: 0 16px;
        color: #40a9ff;
    }
}
