.workbench-common-top-info-wrapper {
    display: flex;
    height: 130px;

    .top-box-item {
        border-radius: 2px;

        &.left {
            flex: 4 4;
            margin-right: 12px;
            overflow: hidden;
        }

        &.center {
            flex: 8 8;
            margin-right: 12px;
            overflow: hidden;
        }

        &.right {
            position: relative;
            flex: 7 7;
        }
    }
}
