@condition-field-item-light-header-bg: #ecf3fc;
@condition-field-item-light-header-color: #4990e2;
@condition-field-item-light-odd-bg: #f7f7f7;

@condition-field-item-dark-header-bg: #535353;
@condition-field-item-dark-header-color: #ffffff;
@condition-field-item-dark-odd-bg: #363636;

@condition-field-item-darkblue-header-bg: #1f5797;
@condition-field-item-darkblue-header-color: #9fccff;
@condition-field-item-darkblue-odd-bg: #0b3e74;
