.monitoring-detail-content-nav-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 16px;
    border-bottom: 1px solid rgb(230, 230, 230);

    &-title {
        width: 100px;
        height: 100%;
        color: rgb(0, 102, 196);
        font-weight: 700;
        font-size: 14px;
        line-height: 46px;
    }
    &-bar {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        padding-bottom: 8px;
    }
}
