.fail-progress-timeline{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .fail-progress-timeline-item:first-child{
    .fail-progress-timeline-item-line{
      margin-left: 10px;
    }
  }
}