@condition-logical-light-bg: #4990e2;
@condition-logical-light-color: #ffffff;
@condition-label-light-color: #4990e2;
@condition-label-light-bg: #ecf3fc;
@condition-label-light-active-border: #73aff5;
@condition-value-light-bg: #f6f9fd;
@condition-value-light-color: #333333;
@condition-search-text-light-bg: #ffe15b;

@condition-logical-dark-bg: #4990e2;
@condition-logical-dark-color: #ffffff;
@condition-label-dark-color: #9fccff;
@condition-label-dark-bg: #535353;
@condition-label-dark-active-border: #c0c0c0;
@condition-value-dark-bg: #363636;
@condition-value-dark-color: #ffffff;
@condition-search-text-dark-bg: #b05a08;

@condition-logical-darkblue-bg: #535353;
@condition-logical-darkblue-color: #ffffff;
@condition-label-darkblue-color: #ffffff;
@condition-label-darkblue-bg: #013062;
@condition-label-darkblue-active-border: #79b2f5;
@condition-value-darkblue-bg: #11467f;
@condition-value-darkblue-color: #ffffff;
@condition-search-text-darkblue-bg: #b08708;
