.custom-window-modal-tool-dom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .custom-window-modal-tool-dom-right {
        display: flex;
        .custom-window-modal-tool-dom-right-label {
            width: 55px;
            line-height: 32px;
        }
    }
}
