.modalWrap {
    position: absolute !important;
    .list {
        display: block;
        text-align: center;
        .item {
            font-size: 20px;
            cursor: pointer;
        }
    }
    .active {
        background-color: rgba(129, 211, 248, 0.26);
    }
}
