.alarm-query-export-setting-modal {
    .export-limits-option-all {
        color: red;
    }
}
.imp-alarm-export-2021-0710 {
    font-size: 14px;
}
.imp-alarm-export-2021-0710-darkblue {
    color: #00c3ff !important;
}
.imp-alarm-export-2021-0710-dark {
    color: #00d0ff !important;
}
