@import '~oss-ui/es/style/themes/default.less';
.filter-info-section-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    .oss-ui-card-head {
        border: none;
    }
    .order-with-border {
        display: inline-block;
        font-size: 13px;
        width: 16px;
        height: 16px;
        border: 1.5px solid @text-color;
        border-radius: 8px;
        line-height: 1;
        text-align: center;
        margin-right: 2px;
    }
    .title-behind-order {
        height: 16px;
        line-height: 1;
    }

    .oss-ui-divider.oss-ui-divider-vertical {
        top: 0;
        height: 16px;
        border-left-width: 4px;
        border-left-color: @btn-primary-bg;
    }
}
